@font-face {
  font-family: ubisoftsans;
  src: url(../fonts/ubisoftsans-regular.woff2);
}
body {
  font-family: ubisoftsans, sans-serif;
}

.main-page {
  background: url(/assets/image/background.jpg);
  width: 100%;
  height: 100%;
}
.main-page .header {
  width: 100%;
  max-width: 1440px;
  height: 65px;
  position: fixed;
  top: 0;
  background-color: rgba(196, 205, 213, 0.3);
  backdrop-filter: blur(22px);
  margin: 32px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  left: 50%;
  translate: -50%;
  z-index: 1;
  transition: all 0.5s;
}
.main-page .header.scrollup {
  transform: translate(0, -100px);
}
.header .left-side {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* this is for responsive */
.header .left-side .burger-menu {
  display: none;
}
.header .right-side {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.header .navbar {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.header .logo img {
  width: 143px;
  height: 30px;
}
.main-page .top-color {
  background-image: url(/assets/image/top-color-img.jpg);
  opacity: 0.5;
  width: 100%;
  height: 50vw;
  max-height: 277px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
}
.main-page .blog-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -100px;
  gap: 16pxz;
}
.main-page .blog-header-container .graphic {
  margin-bottom: 24px;
}
.main-page .blog-header-container .graphic img {
  width: 850px;
  height: 470px;
}
.main-page .blog-header-container .texts {
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: row;

}
.main-page .blog-header-container .texts .headline{
    max-width: 670px ;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main-page .blog-header-container .texts .headline h1{
    font-size: 32px;
}
.main-page .blog-header-container .texts .headline .headline-dsc{
    font-size: 21px;
}
.main-page .blog-header-container .texts .headline .logo p{
  color: black;
    background-color: #92918a;
    width: 35px;
    padding: 8px;
}
.main-page .blog-header-container .texts .headline .tags{
    display: flex;
    flex-direction: row;
    gap: 16px;

}
.main-page .blog-header-container .texts .headline .tags p{
  border: 1px solid white;
  padding: 2px;
}

.main-page .blog-header-container .texts .release-time{
    min-width: 180px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main-page .blog-header-container .texts .release-time h3{
  font-size: 22px;
}
.main-page .blog-header-container .texts .release-time p{
  display: flex;
  justify-content: end;
}
.main-page .blog-header-container .texts .release-time button{
  padding: 12px 24px;
}